@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}